@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700);

body {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
}

.map {
  height: 400px;
  width: 100%;
  margin: 10px 0;
}

.docs {
  margin: 10px 0;
}

h5 {
  margin: 10px 0 2px 0;
  padding: 0;
  font-weight: bold;
}

input {
  margin: 0 0 0 10px;
}

legend {
  margin: 0;
}